.body{
    height: 100%;
    width: 100%;
    align-items: top;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #626262;
    background-repeat: no-repeat;
}
.top-bar{ /* Where the search bar is */
    display: flex;
    justify-content: center;
    padding-left: 30px;
    gap: 14px;
    padding-top: 60px;
}
/*Search bar*/
.top-bar input{
    display: flex;
    width: 362px;
    height: 78px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400px;
    text-transform: uppercase;

}
/*Search button*/
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
    border: 3px solid white;
    transition: transform 0.3s ease 0s;
}
.search-icon:hover
{
    transform: translateY(-20px);
    background-color: var(--clr-red);
    color: var(--clr-light);
}
/*Image representation of the weahter above the temperature*/
.weather-image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease 0s;
}
.weather-image:hover{
    transform: translateY(-30px);
}
/*Temperature above the location name*/
.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 120px;
    font-weight: 400;
}

.weather-location:hover {
    transform: translateY(20px);
}

/*Location of the weather reading*/
.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
    transition: transform 0.3s ease 0s;
}
.data-container{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    display: flex;
    justify-content: center;
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.data{
    font-size: 34px;
    font-weight: 400;
}
.text{
    font-size: 20px;
    font-weight: 400;
}
.icon{
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    width: 55px;
    height: 55px;
    color: #ebfffc;
}
.dropdown-row{
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}
.dropdown{
    background-color: #ebfffc;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}
.fade-in{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
to{
    scale: 1;
    opacity: 1;

}    
}